.login {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-inner {
    width: 375px;
    height: 500px;
    display: flex;
    flex-direction: column;

    h3 {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #003367;
      margin-bottom: 31px;
    }

    label {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.4px;
      color: #95A2A7;

      input {
        margin-top: 8px;
        display: block;
        width: 370px;
        height: 29px;
        border: none;
        border-bottom: 1px solid #EBEEEF;
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: rgba(0, 0, 0, 0.87);
        padding: 8px 0;
        outline: none;
      }
    }

    &__btn {
      display: flex;
      justify-content: flex-end;
      button {
        padding: 9px 16px;
        width: 133px;
        height: 36px;
        background: #003367;
        border-radius: 4px;
        border: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
      }
    }
  }
}
